.vscode/launch.json
.vscode/tasks.json
sharedMemory/handleBMP
sharedMemory/handlePicture
sharedMemory/test_bmp
sharedMemory/handlePicture
sharedMemory/test_bmp.c
sharedMemory/passImageToChild
sharedMemory/pipePractice
.gitignore
sharedMemory/sharedMemory
sharedMemory/tryAndTemp/handleBMP
sharedMemory/tryAndTemp/handlePicture
sharedMemory/tryAndTemp/test_bmp
thread/a.out
.vscode/c_cpp_properties.json
.vscode/settings.json
signal/signalPractice
